html,
body {
  background-image: url('../images/background.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #070707;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100%;
  min-width: 100%;
}

@media (min-width: 700px) {
  .container {
    min-height: 100%;
    display: grid;
    grid-template-rows: repeat(2, auto) 5fr 1fr;
  }

  .navigation {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-content: center;
    justify-items: center;
    background-color: #3a8abc;
  }

  .contact {
    display: grid;
    grid-template-rows: repeat(3, 1fr) auto auto;
    justify-content: center;
  }
}

/****** general styles *****/

h1 {
  text-align: center;
  margin: 0;
  color: #fff;
  font-weight: 900;
}

h2 {
  font-weight: 800;
  text-align: center;
  margin: 2rem 1rem 1rem;
}

p {
  margin: 1rem;
}

.btn1 {
  height: 1.5rem;
  width: 4rem;
  background: #3a8abc;
  border: 0;
  border-radius: 0.25rem;
  padding-left: 1rem;
  padding-right: 1rem;
  color: #fff;
  justify-self: center;
}

/****navigation****/
.navigation {
  padding: 1rem;
  background-color: #3a8abc;
}

.navigation a:link {
  color: #fff;
  text-decoration: none;
  font-weight: 800;
}

.navigation a:visited {
  color: #fff;
}

.navigation a:hover {
  color: #ff0000;
}

.navigation a:active {
  color: #00ff00;
}

/**section-specific styles***/
.top-header {
  padding: 1rem;
  background-color: #3a8abc;
}

.main-area {
  padding: 0 2rem;
  overflow: auto;
}

.contact {
  padding: 0 1rem 1rem;
}

.contact input {
  min-width: 90%;
}

.contact textarea {
  min-width: 90%;
  min-height: 6rem;
}

.contact > div {
  padding: 0.5rem;
  background: #ccc;
}

#send-btn {
  text-align: center;
}

.item-footer {
  padding: 1rem;
  background-color: #3a8abc;
  color: #fff;
}

.item-footer > p {
  text-align: center;
}
